<div id="footer">
  <p>
    <a href="https://github.com/rastopyr">github</a> ::
    <a href="https://twitter.com/rastopyr_ua">twitter</a>
    {{!-- <a href=""></a>
    <a href=""></a>
    <a href=""></a> --}}
  </p>
</div>
